.stepper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.stepper-title {
  font-size: 16px;
  font-weight: bold;
}

.stepper-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.stepper-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.stepper-item .step-number {
  background-color: #e0e0e0;
  color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 5px;
}

.stepper-item.completed .step-number {
  background-color: #4caf50; /* Green background for completed steps */
  color: white; /* White color for checkmark icon */
}

/* .stepper-item.active .step-number {
  background-color: #d4f5b8;
  color: #000;
} */

.stepper-item .step-name {
  font-size: 14px;
  color: #000;
}

.stepper-item.active .step-name,
.stepper-item.completed .step-name {
  font-weight: bold;
  color: #000;
}

.step-separator {
  margin: 0 8px;
  font-size: 16px;
  color: #888;
}

.cancel-button {
  /* MUI Button styling overrides */
  margin-left: 20px;
}
