.source-selection-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f8f9fa;
    width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 10px 0 rgb(59 101 164 / 50%);
  }
  
  .header {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .search-bar {
    margin-bottom: 15px;
  }
  
  .source-list {
    max-height: calc(100% - 85px);
    overflow-y: auto;
  }
  
  .source-item {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 30px !important;
    border-bottom: 1px solid #eee;
  }
  
  .source-item:last-child {
    border-bottom: none;
  }
  
  .form-check-input {
    margin-right: 10px;
    margin-left: 0;
  }
  
  .source-icon {
    font-size: 20px;
    margin-right: 8px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust height as needed */
  }
  